@import '../style/Variabili.scss';
footer{
    height: 3.5rem;
    i{
        background-color: $bg_red;
        border-radius: 10px;
        padding: 0.75rem;
    }
    p{
        margin: 0 !important;
        padding: 0 !important;
    }
}