@import '../style/Variabili.scss';
nav.row{
    height: $h_header;
    color: $white;
    box-shadow: $shadow_white;
    p{
        margin: 0 !important;
        &:hover{
            box-shadow: $shadow_red;
            background-color: $bg_red ;
            border-radius: 20px;
            cursor: pointer;
        }
    }
    img{
        height: $h_logo;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

