//colori
$black : black;
$white : white;
$bg_red: rgba(222, 29, 29, 0.4);
$shadow_red: 0px 0px 19px 0px rgba(222, 29, 29, 0.7) ;
$shadow_white: 0px 11px 19px 0px rgba(255, 255, 255, 0.27);
$shadow_red_search:0px 0px 30px 0px rgba(222, 29, 29, 0.7);
//altezza logo e header
$h_header : 5rem;
$h_logo: 2.5rem;